<!DOCTYPE html>
    <html lang="en" dir="ltr">
      <head>
        <meta charset="utf-8">
        <link href="https://fonts.googleapis.com/css?family=Oxanium&display=swap" rel="stylesheet">
        <title>Results</title>
        <link rel="stylesheet" href="/styles/style.css">
   </head>

      <body>


<table class="table">
  <tr><td>Host Name</td><td>Host Star</td><td>Planet ID</td><td>Details</td><td>Update</td><td>Delete</td>
        <% @planets.each do |planet| %>
        <tr>
          <td> <%= planet.pl_name %></td>
          <td> <%= planet.pl_hostname %></td>
          <td> <%= planet.loc_rowid %></td>
          <td><a href='/result_details/<%= planet.loc_rowid %>'>Details</a></td>
          <td><a href='/update/<%= planet.loc_rowid %>'>Update</a></td>
          <td><a href='/delete/<%= planet.loc_rowid %>'>Delete</a></td>
          <tr>
        <% end %>

</table>
      </body>
    </html>




<!-- <nav>

<ul style="list-style: none;">

<li><a href="/ /<%=%> ><%=  %> </a></li>
<li><a href="/ /<%=%> ><%=  %> </a></li>
<li><a href="/ /<%=%> ><%=  %> </a></li>
<li><a href="/ /<%=%> ><%=  %> </a></li>

</ul>

</nav -->
