<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link href="<!DOCTYPE html>
    <html lang="en" dir="ltr">
      <head>
        <meta charset="utf-8">
        <link href="https://fonts.googleapis.com/css?family=Amatic+SC&display=swap" rel="stylesheet">
        <title>Details</title>
        <link rel="stylesheet" href="/style.css">
      </head>
      <body>

          <table>
          <tr><td>Planet ID</td><td> <%= @planet.loc_rowid %></td></tr>
          <tr><td>Planet Name</td><td> <%= @planet.pl_name %></td></tr>
          <tr><td>Host Star</td><td> <%= @planet.pl_hostname %></td></tr>
          <tr><td> Discovery Method</td><td><%= @planet.pl_discmethod %></td></tr>
          <tr><td>Planets in System (num)</td><td> <%= @planet.pl_pnum %></td></tr>
          <tr><td>Orbital Period (days)</td><td> <%= @planet.pl_orbper %></td></tr>
          <tr><td>Gaia Distance (pc)</td><td><%= @planet.gaia_dist %></td></tr>
          <tr><td>Effective Temperature (K)</td><td><%= @planet.st_teff %></td></tr>
          <tr><td>Stellar Mass (solar mass)</td><td> <%= @planet.st_mass %></td></tr>
          <tr><td>Stellar Radius (solar radi)</td><td> <%= @planet.st_rad %></td></tr>
          <tr><td>Planet Mass (Earth mass) </td><td> <%= @planet.pl_masse %></td></tr>
          <tr><td>Planet Radius (Earth radi)</td><td> <%= @planet.pl_rade %></td></tr>
          <tr><td>Planet-Star Radius Ratio</td><td> <%= @planet.pl_ratdor %></td></tr>
          <tr><td>Year of Discovery</td><td> <%= @planet.pl_disc %></td></tr>
          <tr><td>Discovery Telescope</td><td> <%= @planet.pl_telescope %></td></tr>
	        <tr><td>Link to Exoplanet Encyclopaedia</td><td> <%= @planet.pl_pelink %></td></tr>
          <tr><td>Link to Exoplanet Data Explorer</td><td> <%= @planet.pl_edelink %></td></tr>
         <tr><td>Spectral Type</td><td> <%= @planet.st_spstr %></td></tr>
          <tr><td>	Stellar Surface Gravity</td><td> <%= @planet.st_logg %></td></tr>
          <tr><td>Stellar Luminosity [log(solar)</td><td> <%= @planet.st_lum %></td></tr>
          <tr><td>Stellar Density [g/cm**3]	</td><td> <%= @planet.st_dens %></td></tr>
          <tr><td>Stellar Metallicity (dex)</td><td> <%= @planet.st_metfe %></td></tr>
          <tr><td>	Metallicity Ratio</td><td> <%= @planet.st_metratio %></td></tr>
          <tr><td>Stellar Age [Gyr]</td><td> <%= @planet.st_age %></td></tr>

          </table>

      </body>
    </html>
